/.vscode/*
**/.DS_Store
skeleton/target
target/
skeleton/.idea
skeleton/.vscode
/.idea/

skeleton/backend/.env
/skeleton/backend/node_modules/

/skeleton/mfe1/node_modules/
/skeleton/mfe1/dist/
/skeleton/mfe1/.__mf__temp/

/skeleton/shell/node_modules/
/skeleton/shell/dist/
/skeleton/shell/.__mf__temp/
