# Logs
/backend/logs/
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
backend/lerna-debug.log*

/mfe1/logs/
mfe1/*.log
mfe1/npm-debug.log*
mfe1/yarn-debug.log*
mfe1/yarn-error.log*
mfe1/pnpm-debug.log*
mfe1/lerna-debug.log*


/shell/logs/
shell/*.log
shell/npm-debug.log*
shell/yarn-debug.log*
shell/yarn-error.log*
shell/pnpm-debug.log*
shell/lerna-debug.log*

/backend/node_modules/
/mfe1/node_modules/
/shell/node_modules/

/backend/dist
/mfe1/dist
/shell/dist

/backend/dist-ssr/
/mfe1/dist-ssr/
/shell/dist-ssr/

backend/*.local
mfe1/*.local
shell/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
